extends layout

//SCRIPTS TOP
block scripts_top
    script(src='./exercise_S.js')

//PAGE CONTENT
block content

    #display_1
        .container-fluid
            hr(style='width: 100%; color: black; height: 3px; background-color:black; margin-top: 40px')

        .container-fluid
            .row
                .col-md-6
                    .text-center
                        h1.display-1(style="color:black; font-size: 7em; font-family:monospace; margin-top: 40px")#display_1_value 888.888

                .col-md-6
                    #disp_1_bar


    .container-fluid
        hr(style='width: 100%; color: black; height: 3px; background-color:black;')

    #display_2
        .container-fluid
            .row
                .col-md-6
                    .text-center
                        h1.display-1(style="color:black; font-size: 7em; font-family:monospace; margin-top: 40px")#display_2_value 888.888
                .col-md-6
                    #disp_2_bar

        .container-fluid
            hr(style='width: 100%; color: black; height: 3px; background-color:black;')

    .fixed-bottom(style='margin-bottom: 15px; ')
        .container-fluid
            .row
                .col-md-6
                    .row
                        .col-md-4
                            .text-center
                                h4.display-3(style="color:black;") Cykle
                        .col-md-4
                            .text-center
                                h4.display-3(style="color:black;") Faza
                        .col-md-4
                            .text-center
                                h4.display-3(style="color:black;") Czas
                    .row
                        .col-md-4
                            .text-center
                                h1.display-1(style="color:black; font-size: 5.3em; font-family:monospace; margin-top: 25px;")
                                    #disp_cycle_number
                        .col-md-4
                            .text-center
                                i.fa#disp_phase(aria-hidden='true' style="color:black; font-size: 7em;")
                        .col-md-4
                            .text-center
                                h1.display-1(style="color:black; font-size: 5.3em; font-family:monospace; margin-top: 25px")
                                    #disp_timer
                .col-md-6
                    .row(style='margin-bottom: 10px')
                        .col-md-4
                            button#bar_button_start.btn.btn-success.btn-lg.btn-block(type='button' style='height: 140px') START
                        .col-md-4
                            button#bar_button_stop.btn.btn-warning.btn-lg.btn-block(type='button' style='height: 140px' disabled='true') STOP
                        .col-md-4
                            button#bar_button_rec.btn.btn-danger.btn-lg.btn-block(type='button' style='height: 140px') REC
                    .row.d-flex.align-items-center
                        .col-md-12
                            button#bar_button_end.btn.btn-secondary.btn-lg.btn-block(type='button' style='height: 80px') KONIEC