extends layout

//SCRIPTS TOP
block scripts_top
  script(src='./index_S.js')

//PAGE CONTENT
block content
  .container-fluid
    .text-center
      h1.display-1
        strong#tit= title


  .container-fluid
    .row
      .col-6.d-flex.align-items-center
        #username_input_form.input-group.input-group-lg
          span.input-group-addon Użytkownik:
          input#user_name_input.form-control(type='text', name="user", placeholder='Twoja nazwa użytkownika', style='height: 100px')
      .col-6
        img.rounded.mx-auto.d-block(src='./images/InerionLOGO.jpg', alt='LOGO INERION' style="width:60%")

  .fixed-bottom
    .container-fluid
      #alert_no_username
    .container-fluid
      .row
        .col-2
          button.btn.btn-secondary.btn-lg.btn-block(onclick="location.href = '/pomoc';" type='button' style='height: 100px') Pomoc
        .col
        .col-4
          button#button_start.btn.btn-success.btn-lg.btn-block(type='button' style='height: 100px') START
        .col
        .col-2
          button.btn.btn-secondary.btn-lg.btn-block(type='button' style='height: 100px') Kalibracja


//SCRIPTS BOTTOM
block scripts_bottom