extends layout

block content
  .container-fluid
    h1 CYKLOTREN
  .container-fluid

  .container-fluid
    .row
      .col-2
        button.btn.btn-primary.btn-lg.btn-block(type='button') Block level button
      .col
      .col-4
        button.btn.btn-success.btn-lg.btn-block(type='button') Block level button
      .col
      .col-2
        button.btn.btn-primary.btn-lg.btn-block(type='button') Block level button

