doctype html

html
  link(type='text/css', rel='stylesheet', href="./stylesheets/style.css")
  script(src='./jquery/dist/jquery.js')
  script(src='./tether/src/js/tether.js')
  script(src='./bootstrap/dist/js/bootstrap.js')
    title= title
  body
    block content