extends layout

//SCRIPTS TOP
block scripts_top
    script(src='./profiles_list_S.js')

//PAGE CONTENT
block content
    .container
        #carouselExampleIndicators.carousel.carousel.slide(data-ride='carousel')
            .carousel-inner(role='listbox')
                #carousel_main

            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next




    //STOPKA
    .fixed-bottom(style='margin-bottom: 15px; ')
        .container-fluid
            .row
                .col-3
                .col
                    a#carousel_backward.btn.btn-danger.btn-lg(type='button' style='height: 65px')
                        i.fa.fa-backward.fa-2x
                .col
                    button#carousel_select_1.btn.btn-danger.btn-lg(type='button' style='height: 30px')
                .col
                    button#carousel_select_2.btn.btn-lg(type='button' style='height: 30px')
                .col
                    button#carousel_select_3.btn.btn-lg(type='button' style='height: 30px')
                .col
                    button#carousel_select_4.btn.btn-lg(type='button' style='height: 30px')
                .col
                    button#carousel_select_5.btn.btn-lg(type='button' style='height: 30px')
                .col
                    a#carousel_forward.btn.btn-danger.btn-lg(type='button' style='height: 65px')
                        .fa.fa-forward.fa-2x
                .col-3

        .container-fluid
            .row
                .col
                    .text-center
                        h1.text-danger
                            strong Przed naciśnięciem dowolnego przycisku proszę wyciągnąć linę !!!
                    hr
            .row
                .col
                .col-2
                .col-2
                    button#delete_profile.btn.btn-secondary.btn-lg.btn-block(onclick="location.href = '/profile_cwiczen/delete_profile';" type='button' style='height: 100px')
                        p Usuń
                .col-2
                    button#list_to_edit.btn.btn-secondary.btn-lg.btn-block(onclick="location.href = '/ustawienia';" type='button' style='height: 100px')
                        p Edytuj
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(onclick="location.href = '/trening';" type='button' style='height: 100px')
                        p Rozpocznij
                        p ćwiczenie
                .col-2
                .col


//SCRIPTS BOTTOM
block scripts_bottom