extends layout

//SCRIPTS TOP
block scripts_top
    script(src='./profiles_list_S.js')

//PAGE CONTENT
block content
    .container
        #carouselExampleIndicators.carousel
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
            .carousel-inner(role='listbox')
                #carousel_main

            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next




    //STOPKA
    .fixed-bottom
        .container-fluid
            .row
                .col-4
                .col
                    button#carousel_select_1.btn.btn-primary.btn-lg(type='button' style='height: 20px')
                .col
                    button#carousel_select_2.btn.btn-primary.btn-lg(type='button' style='height: 20px')
                .col
                    button#carousel_select_3.btn.btn-primary.btn-lg(type='button' style='height: 20px')
                .col
                    button#carousel_select_4.btn.btn-primary.btn-lg(type='button' style='height: 20px')
                .col
                    button#carousel_select_5.btn.btn-primary.btn-lg(type='button' style='height: 20px')
                .col-4
        .container-fluid
            .row
                .col
                    .text-center
                        h1.text-danger
                            strong Przed naciśnięciem dowolnego przycisku proszę wyciągnąć linę !!!
            .row
                .col
                .col-2
                .col-2
                    button#delete.btn.btn-secondary.btn-lg.btn-block(type='button' style='height: 100px')
                        p Usuń
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(onclick="location.href = '/ustawienia';" type='button' style='height: 100px')
                        p Edytuj
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(onclick="location.href = '/trening';" type='button' style='height: 100px')
                        p Rozpocznij
                        p ćwiczenie
                .col-2
                .col


//SCRIPTS BOTTOM
block scripts_bottom