extends layout

//SCRIPTS TOP
block scripts_top
    script(src='./profiles_list_S.js')

//PAGE CONTENT
block content
    .container
        #carouselExampleIndicators.carousel
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
            .carousel-inner(role='listbox')
                .carousel-item.active
                    .container
                        .container
                            .row(style='background-color: #b1aaa8')
                                .col-4
                                    .card.text-center
                                        .card-block
                                            h3.card-title Profil 1
                                            p.card-text
                                            a.btn.btn-primary.btn-lg(href='#') Wybierz

                                .col-8
                                    .row(style='background-color: #d4d0cf')
                                        .col-3
                                            h3
                                                strong Masa:
                                        .col-3
                                            h3
                                                strong Zakres Ruchu:
                                        .col-3
                                            h3
                                                strong Odl. rolek:
                                        .col-3
                                            h3
                                                strong Limity:
                                    .row
                                        .col-3
                                            h4 5 kg
                                        .col-3
                                            h4 70
                                        .col-3
                                            h4 40 cm
                                        .col-3
                                            h4 0 min 0s | 30 cykli
                        .container
                            .row
                                .col-4
                                    .card.text-center
                                        .card-block
                                            h3.card-title Profil 2
                                            p.card-text
                                            a.btn.btn-primary.btn-lg(href='#') Wybierz

                                .col-8
                                    .row(style='background-color: #d4d0cf')
                                        .col-3
                                            h3
                                                strong Masa:
                                        .col-3
                                            h3
                                                strong Zakres Ruchu:
                                        .col-3
                                            h3
                                                strong Odl. rolek:
                                        .col-3
                                            h3
                                                strong Limity:
                                    .row
                                        .col-3
                                            h4 6 kg
                                        .col-3
                                            h4 70
                                        .col-3
                                            h4 40 cm
                                        .col-3
                                            h4 0 min 0s | 30 cykli
                        .container
                            .row
                                .col-4
                                    .card.text-center
                                        .card-block
                                            h3.card-title Profil 3
                                            p.card-text
                                            a.btn.btn-primary.btn-lg(href='#') Wybierz
                                .col-8
                                    .row(style='background-color: #d4d0cf')
                                        .col-3
                                            h3
                                                strong Masa:
                                        .col-3
                                            h3
                                                strong Zakres Ruchu:
                                        .col-3
                                            h3
                                                strong Odl. rolek:
                                        .col-3
                                            h3
                                                strong Limity:
                                    .row
                                        .col-3
                                            h4 7 kg
                                        .col-3
                                            h4 70
                                        .col-3
                                            h4 40 cm
                                        .col-3
                                            h4 0 min 0s | 30 cykli

                        .container
                            .row
                                .col-4
                                    .card.text-center
                                        .card-block
                                            h3.card-title Profil 4
                                            p.card-text
                                            a.btn.btn-primary.btn-lg(href='#') Wybierz
                                .col-8
                                    .row(style='background-color: #d4d0cf')
                                        .col-3
                                            h3
                                                strong Masa:
                                        .col-3
                                            h3
                                                strong Zakres Ruchu:
                                        .col-3
                                            h3
                                                strong Odl. rolek:
                                        .col-3
                                            h3
                                                strong Limity:
                                    .row
                                        .col-3
                                            h4 8 kg
                                        .col-3
                                            h4 70
                                        .col-3
                                            h4 40 cm
                                        .col-3
                                            h4 0 min 0s | 30 cykli



                .carousel-item
                    .container
                        .container
                            .row
                                .col-4
                                    .card.text-center
                                        .card-block
                                            h3.card-title Profil 5
                                            p.card-text
                                            a.btn.btn-primary.btn-lg(href='#') Wybierz

                                .col-8
                                    .row(style='background-color: #d4d0cf')
                                        .col-3
                                            h3
                                                strong Masa:
                                        .col-3
                                            h3
                                                strong Zakres Ruchu:
                                        .col-3
                                            h3
                                                strong Odl. rolek:
                                        .col-3
                                            h3
                                                strong Limity:
                                    .row
                                        .col-3
                                            h4 5 kg
                                        .col-3
                                            h4 70
                                        .col-3
                                            h4 40 cm
                                        .col-3
                                            h4 0 min 0s | 30 cykli
                        .container
                            .row
                                .col-4
                                    .card.text-center
                                        .card-block
                                            h3.card-title Profil 6
                                            p.card-text
                                            a.btn.btn-primary.btn-lg(href='#') Wybierz

                                .col-8
                                    .row(style='background-color: #d4d0cf')
                                        .col-3
                                            h3
                                                strong Masa:
                                        .col-3
                                            h3
                                                strong Zakres Ruchu:
                                        .col-3
                                            h3
                                                strong Odl. rolek:
                                        .col-3
                                            h3
                                                strong Limity:
                                    .row
                                        .col-3
                                            h4 15 kg
                                        .col-3
                                            h4 70
                                        .col-3
                                            h4 40 cm
                                        .col-3
                                            h4 0 min 0s | 30 cykli
                        .container
                            .row
                                .col-4
                                    .card.text-center
                                        .card-block
                                            h3.card-title Profil 7
                                            p.card-text
                                            a.btn.btn-primary.btn-lg(href='#') Wybierz

                                .col-8
                                    .row(style='background-color: #d4d0cf')
                                        .col-3
                                            h3
                                                strong Masa:
                                        .col-3
                                            h3
                                                strong Zakres Ruchu:
                                        .col-3
                                            h3
                                                strong Odl. rolek:
                                        .col-3
                                            h3
                                                strong Limity:
                                    .row
                                        .col-3
                                            h4 25 kg
                                        .col-3
                                            h4 70
                                        .col-3
                                            h4 40 cm
                                        .col-3
                                            h4 0 min 0s | 30 cykli

                        .container
                            .row
                                .col-4
                                    .card.text-center
                                        .card-block
                                            h3.card-title Profil 8
                                            p.card-text
                                            a.btn.btn-primary.btn-lg(href='#') Wybierz

                                .col-8
                                    .row(style='background-color: #d4d0cf')
                                        .col-3
                                            h3
                                                strong Masa:
                                        .col-3
                                            h3
                                                strong Zakres Ruchu:
                                        .col-3
                                            h3
                                                strong Odl. rolek:
                                        .col-3
                                            h3
                                                strong Limity:
                                    .row
                                        .col-3
                                            h4 45 kg
                                        .col-3
                                            h4 70
                                        .col-3
                                            h4 40 cm
                                        .col-3
                                            h4 0 min 0s | 30 cykli

            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next

    //STOPKA
    .fixed-bottom
        .container-fluid
            .row
                .col
                    .text-center
                        h1.text-danger
                            strong Przed naciśnięciem dowolnego przycisku proszę wyciągnąć linę !!!
            .row
                .col
                .col-2
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(type='button' style='height: 100px')
                        p Usuń
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(onclick="location.href = '/ustawienia';" type='button' style='height: 100px')
                        p Edytuj
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(onclick="location.href = '/trening';" type='button' style='height: 100px')
                        p Rozpocznij
                        p ćwiczenie
                .col-2
                .col


//SCRIPTS BOTTOM
block scripts_bottom