extends layout

//SCRIPTS TOP
block scripts_top
    script(src='./settings_simple_S.js')


//PAGE CONTENT
block content


    .container-fluid
        hr(style='width: 100%; color: black; height: 1px; background-color:black; margin-top: 200px; ')
        .h2
            .text-center
                |Użytkownik:
                b Rambo
        hr(style='width: 100%; color: black; height: 1px; background-color:black; margin-bottom: 50px; ')


    .container-fluid
        .row
            .col-3.d-flex.align-items-center.flex-row-reverse
                .h2
                    b Oddziaływanie:
            .col-2
                h4 Długość liny:
                .input-group
                    input#line_length_INB.form-control(type='text', placeholder="10-100", aria-describedby='basic-addon2', style='height: 60px')
                    span#basic-addon2.input-group-addon cm
            .col-2
                h4 Odległość rolek:
                .input-group
                    input#roller_dist_INB.form-control(type='text', placeholder="1-60", aria-describedby='basic-addno21', style='height: 60px')
                    span#basic-addon21.input-group-addon cm
            .col-2
                h4 Masa:
                .input-group
                    input#mass_INB.form-control(type='text', placeholder="1-500", aria-describedby='basic-addon22', style='height: 60px')
                    span#basic-addon22.input-group-addon kg
            .col-2
                button.btn.btn-secondary.btn-lg.btn-block(onclick="location.href = '/ustawienia_A';" type='button' style='height: 100px')
                    p Widok
                    p pełny
            .col



    .fixed-bottom
        .container-fluid
            .row
                .col
                    .text-center
                        h1.text-danger
                            strong Przed naciśnięciem dowolnego przycisku proszę wyciągnąć linę !!!
            .row
                .col
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(type='button' style='height: 100px') Wyloguj
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(type='button' style='height: 100px')
                        p Zapisz
                        p ustawienia
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(type='button' style='height: 100px')
                        p Pobierz z
                        p Internetu
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(type='button' style='height: 100px') Wybierz z listy
                .col-2
                    button.btn.btn-secondary.btn-lg.btn-block(type='button' style='height: 100px')
                        p Rozpocznij
                        p ćwiczenie
                .col


//SCRIPTS BOTTOM
block scripts_bottom